# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Astar pathfinding.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jacob\Documents\gameEngineProjects\Unity Projects\CGD\Astar pathfinding\.idea\.idea.Astar pathfinding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
